/* ## RESET ##  */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*:before,*:after {
	box-sizing: border-box;
}
/* * {
    outline: 1px solid red;
} */
.container {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}
.hero {
    /* width: 1600px; */
	width: 100%;
    height: 820px;
    background: url(../img/home.png) no-repeat center;
	display: inline-block;
	color: #FFFFFF;
	position: relative;
}

header {
	width: 100%;
	height: 83px;
	background: #5474FD;
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
}
.header-content {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-content__links {
	width: 525px;
	height: 23px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-content__links a {
	text-decoration: none;
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 26px;
	text-transform: uppercase;
	color: #FFFFFF;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 246px;
}
.main-text {
	width: 372px;
	height: 85px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	font-family: 'Josefin Sans';
	font-style: normal;
}
.main-text__title {
	font-weight: 700;
	font-size: 48px;
	line-height: 26px;
	letter-spacing: 4.8px;
	text-transform: uppercase;
}
.main-text__text {
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	letter-spacing: 6.82px;
}
.main-form {
	width: 653px;
	height: 63px;
	margin: 48px 558px 108px 559px;
	display: flex;
}
.main-form__input {
	width: 500px;
	height: 63px;
	border: none;
	background: #FFFFFF;
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 2.8px;
	color: #999999;
}
.main-form__submit {
	width: 149px;
	height: 63px;
	background: #5474FD;
	border: 3px solid #FFFFFF;
	font-family: 'Aleo';
	font-style: normal;
	color: #FFFFFF;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
	letter-spacing: 1.4px;
	text-transform: uppercase;
	padding: 18px 38px 16px 20px;
}
.main-form img {
	width: 22px;
	height: 24px;
	margin-left: -40px;
	margin-top: 20px;
}
.main-scroll {
	width: 108px;
	height: 46px;
	margin: 0 859px 0 803px;
	text-align: center;
}
.main-scroll__text {
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
	letter-spacing: 2.8px;
}
.main-scroll img {
	width: 17px;
	height: 11px;
}

.hero-explore {
	width: 100%;
	height: 685px;
	background: url(../img/section2-image.png) no-repeat center;
	display: flex;
	align-items: center;
}
.explore {
	width: 100%;
	height: 450px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.hero-explore_content h3 {
	width: 288px;
	height: 26px;
	margin-top: 120px;
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 26px;
	color: #FFFFFF;
}
.hero-explore_content__text {
	font-family: 'Josefin Sans';
	font-style: normal;
	margin-top: 50px;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 1.6px;
	color: #E8E8E8;
}
.btn {
	width: 181px;
	height: 28px;
	padding: 27px 15px 22px 13px;
	margin-top: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #496BFE;
}
.explore__image1 {
	margin-left: 100px;
}
.explore__image2 {
	margin-top: 10px;
	margin-left: 200px;
}

.hero-icons {
	width: 100%;
	height: 300px;
	background: #333333;
	display: flex;
	align-items: center;
	position: relative;
}
.container-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.icons-harku img{
	position: absolute;
	top: 5px;
	width: 730px;
	height: 95px;
	margin-left: 150px;
}
.icons {
	width: 1020px;
	height: 175px;
	display: flex;
	align-items: center;
}
.icons-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.icons-text {
	font-family: 'Aleo';
	font-style: normal;
	text-align: center;
	font-weight: 400;
	font-size: 36px;
	line-height: 26px;
	color: #E8E8E8;
}
.icons-search {
	width: 343px;
	height: 163px;
}
.icons-search__text {
	width: 244px;
	height: 26px;
	margin-top: 38px;
	margin-bottom: 10px;
}
.icons-select {
	width: 230px;
	height: 161px;
	margin-left: 155px;
	margin-right: 153px;
}
.icons-select__text {
	width: 230px;
	height: 26px;
	margin-top: 30px;
	margin-bottom: 12px;
}
.icons-book {
	width: 235px;
	height: 174px;
}
.icons-book__text {
	width: 235px;
	height: 25px;
	margin-top: 40px;
	margin-bottom: 20px;
}

.hero-spain {
	width: 100%;
	height: 700px;
	background: url(../img/spain-house.png) no-repeat center;
	margin-top: 42px;
	display: flex;
	align-items: center;
}

.spain-content {
	width: 543px;
	height: 374px;
	padding-left: 32px;
	display: inline-block;
	background: #232323;
	mix-blend-mode: normal;
	opacity: 0.9;
}
.spain-content__subtitle {
	width: 80px;
	height: 26px;
	margin-top: 49px;
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	letter-spacing: 1.5px;
	color: #E8E8E8;
}
.spain-content__title {
	width: 241px;
	height: 26px;
	margin-top: 23px;
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.spain-content__text {
	width: 508px;
	height: 78px;
	margin-top: 18px;
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #E8E8E8;
}
.btn--book {
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 1.2px;
	text-transform: uppercase;
}

.hero-spain2 {
	width: 100%;
	height: 700px;
	background: url(../img/sea.png) no-repeat center;
	margin-top: 42px;
	display: flex;
	align-items: center;
}
.container-sea {
	display: flex;
	justify-content: flex-end;
}

.hero-turist {
	width: 100%;
	height: 731px;
	background: url(../img/turist.png) no-repeat center;
	display: inline-block;
}
.container-turist {
	display: flex;
	align-items: center;
	justify-content: center;
}
.turist-content {
	width: 100%;
	height: 405px;
	margin-top: 120px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-wrap: wrap;
}
.turist-content__title {
	width: 390px;
	height: 26px;
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 26px;
	color: #FFFFFF;
}
.turist-info {
	width: 100%;
	height: 285px;
	margin-top: 91px;
	display: grid;
	grid-template-columns: 1fr 2fr;
}
.turist-info-div {
    height: 285px;
}
.turist-info-content {
	background: #333333;
	padding: 35px 25px 39px 32px;
}
.turist-info-content__title {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	margin-bottom: 10px;
	text-transform: uppercase;
	color: #FEFEFE;
}
.turist-info-content__text {
	width: 581px;
	height: 165px;
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #FFFFFF;
}

footer {
	width: 100%;
	height: 271px;
	background: #232323;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container-footer {
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer-content {
	width: 196px;
	height: 96px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.footer-content_text {
	width: 196px;
	height: 60px;
}
.footer-content_text__title {
	width: 193px;
	height: 26px;
	text-align: center;
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 26px;
	letter-spacing: 3.36px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.footer-content_text__text {
	width: 196px;
	height: 26px;
	margin-top: 8px;
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 1.6px;
	color: #FFFFFF;
}
.footer-logos {
	width: 166px;
	height: 16px;
	margin-top: 8px;
	display: flex;
}
.footer-logos img {
	margin-right: 20px;
}


@media (min-width:768px) and (max-width:1024px) {
	.main-form {
		width: 653px;
		height: 63px;
		margin: 48px 0 108px 0;
		display: flex;
	}
	.main-scroll {
		visibility: hidden;
	}
	.header-content {
		width: 95%;
	}
	.header-content__links {
		width: 60%;
	}
	.header-content img {
		width: 170px;
		height: 15px;
	}
	.hero-explore_content {
		width: 80%;
		margin-left: 8%;
	}
	.hero-explore_content h3 {
		width: 90%;
		height: 26px;
		margin-top: 15px;
		font-size: 30px;
		line-height: 25px;
		color: #FFFFFF;
	}
	.hero-explore_content__text {
		margin-top: 30px;
		font-size: 13px;
		line-height: 21px;
		letter-spacing: 0.6px;
	}
	.hero-explore_images {
		margin-right: 8%;
	}
	.explore__image1,
	.explore__image2 {
		margin-left: 0;
	}
	.icons-search {
		width: 90%;
		height: 80%;
	}
	.icons-select {
		width: 90%;
		height: 80%;
		margin-left: 3%;
		margin-right: 3%;
	}
	.icons-book {
		width: 90%;
		height: 80%;
	}
	.icons-search img,
	.icons-select img, 
	.icons-book img {
		width: 60%;
		height: 35%;
	}
	.icons-text {
		font-size: 25px;
	}
	.icons-search__text {
		margin-top: 10%;
	} 
	.icons-harku img{
		width: 68%;
		height: 95px;
		margin-left: 0;
		left: 16%;
	}
	.spain-content {
		margin-left: 5%;
	}
	.spain-content2 {
		margin-right: 5%;
	}
	.turist-info {
		margin: 10% 5% 5% 5%;
		height: 265px;
	}
	.turist-info__img {
		width: 100%;
	}
	.turist-info__img img {
		width: 345px;
		height: 100%;
	}
	.turist-info-content {
		width: 100%;
		height: 100%;
		padding: 14px 15px 0 14px;
	}
	.turist-info-content__title {
		font-size: 18px;
	}
	.turist-info-content__text {
		width: 100%;
		height: 83%;
		font-size: 15px;
		line-height: 22px;
	}
	.turist-info-div {
		height: 100%;
	}
	
}


@media (max-width:767px) {
	.main-text__title {
		font-size: 35px;
	}
	.main-text__text {
		font-size: 16px;
	}
	.main-form {
		width: 100%;
		height: 50px;
		margin: 48px 0 108px 20%;
	}
	.main-form__input{
		width: 50%;
		font-size: 10px;
		letter-spacing: 0.8px;
	}
	.main-form__submit {
		width: 30%;
		font-size: 12px;
		padding: 15px 45px 16px 15px;
	}
	.main-form img {
		width: 18px;
		height: 20px;
		margin-top: 6%;
	}
	.main-scroll {
		margin: 0;
		visibility: hidden;
	}
	.header-content {
		width: 95%;
	}
	.header-content img {
		width: 30%;
		height: 10px;
	}
	.header-content__links {
		width: 70%;
	}
	.header-content__links a {
		font-size: 8px;
	}
	.hero-explore {
		align-items: flex-start;
	}
	.explore {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 2fr;
	}
	.hero-explore_content {
		width: 75%;
		margin-left: 3%;
	}
	.hero-explore_content h3 {
		margin-top: 13px;
		width: 50%;
		font-size: 17px;
	}
	.hero-explore_content__text {
		margin-top: 4%;
		font-size: 12px;
		line-height: 19px;
		letter-spacing: -0.4px;
		width: 90%;
	}
	.btn {
		width: 43%;
		margin-top: 5%;
		font-size: 10px;
		line-height: 23px;
		letter-spacing: 0.2px;
	}
	.hero-explore_images {
		margin-top: 20px;
		width: 75%;
	}
	.explore__image1,
	.explore__image2 {
		margin-left: 4%;
		width: 107%;
	}
	.explore__image1 img,
	.explore__image2 img{
		width: 330px;
		height: 200px;
	}

	.icons-harku {
		visibility: hidden;
	}
	.container-icons {
		width: 100%;
		flex-wrap: wrap;
	}
	.icons {
		width: 100%;
		height: 100%;
		margin-top: 10px;
		display: flex;
		flex-wrap: wrap;
	}
	.icons-icon {
		width: 50%;
		height: 30%;
	}
	.icons-icon img{
		width: 30px;
		height: 35px;
	}
	.icons-text {
		font-size: 20px;
		line-height: 0px;
		margin-top: 20px;
	}
	.icons-select {
		margin-left: 0;
	}
	.spain-content {
		width: 70%;
		margin-left: 5%;
		height: 80%;
	}
	.spain-content__subtitle {
		width: 50%;
		margin-top: 30px;
		font-size: 15px;
	}
	.spain-content__title {
		width: 100%;
		font-size: 16px;
	}
	.spain-content__text {
		width: 100%;
		font-size: 14px;
		line-height: 22px;
	}
	.btn--book {
		margin-top: 15%;
		margin-bottom: 20px;
	}
	.turist-info {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		margin-top: 40px;
	}
	.turist-content {
		margin-top: 50px;
	}
	.turist-content__title {
		width: 100%;
        margin-left: 10px;
		font-size: 26px;
		line-height: 23px;
	}
	.turist-info-div {
		width: 100%;
	}
	.turist-info__img img{
		width: 100%;
		height: 200px;
	}
	.turist-info-content__text {
		width: 100%;
		font-size: 13px;
		height: 100%;
	}
    .turist-info-content {
        padding-left: 23px;
    }
}