/* ## RESET ##  */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*:before,*:after {
	box-sizing: border-box;
}
* {
    outline: 1px solid red;
}
.container {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}
.hero {
    /* width: 1600px; */
	width: 100%;
    height: 820px;
    background: url(../img/home.png) no-repeat center;
	display: inline-block;
	color: #FFFFFF;
	position: relative;
}

header {
	width: 100%;
	height: 83px;
	background: #5474FD;
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
}
.header-content {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-content__links {
	width: 525px;
	height: 23px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-content__links a {
	text-decoration: none;
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 26px;
	text-transform: uppercase;
	color: #FFFFFF;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 246px;
}
.main-text {
	width: 372px;
	height: 85px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	font-family: 'Josefin Sans';
	font-style: normal;
}
.main-text__title {
	font-weight: 700;
	font-size: 48px;
	line-height: 26px;
	letter-spacing: 4.8px;
	text-transform: uppercase;
}
.main-text__text {
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	letter-spacing: 6.82px;
}
.main-form {
	width: 653px;
	height: 63px;
	margin: 48px 558px 108px 559px;
	display: flex;
}
.main-form__input {
	width: 500px;
	height: 63px;
	border: none;
	background: #FFFFFF;
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 2.8px;
	color: #999999;
}
.main-form__submit {
	width: 149px;
	height: 63px;
	background: #5474FD;
	border: 3px solid #FFFFFF;
	font-family: 'Aleo';
	font-style: normal;
	color: #FFFFFF;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
	letter-spacing: 1.4px;
	text-transform: uppercase;
	padding: 18px 38px 16px 20px;
}
.main-form img {
	width: 22px;
	height: 24px;
	margin-left: -40px;
	margin-top: 20px;
}
.main-scroll {
	width: 108px;
	height: 46px;
	margin: 0 859px 0 803px;
	text-align: center;
}
.main-scroll__text {
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
	letter-spacing: 2.8px;
}
.main-scroll img {
	width: 17px;
	height: 11px;
}

.hero-explore {
	width: 100%;
	height: 685px;
	background: url(../img/section2-image.png) no-repeat center;
	display: flex;
	align-items: center;
}
.explore {
	width: 100%;
	height: 450px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.hero-explore_content h3 {
	width: 288px;
	height: 26px;
	margin-top: 120px;
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 26px;
	color: #FFFFFF;
}
.hero-explore_content__text {
	font-family: 'Josefin Sans';
	font-style: normal;
	margin-top: 50px;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 1.6px;
	color: #E8E8E8;
}
.btn {
	width: 181px;
	height: 28px;
	padding: 27px 15px 22px 13px;
	margin-top: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #496BFE;
}
.explore__image1 {
	margin-left: 100px;
}
.explore__image2 {
	margin-top: 10px;
	margin-left: 200px;
}

.hero-icons {
	width: 100%;
	height: 300px;
	background: #333333;
	display: flex;
	align-items: center;
	position: relative;
}
.container-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.icons-harku img{
	position: absolute;
	top: 5px;
	width: 730px;
	height: 95px;
	margin-left: 150px;
}
.icons {
	width: 1020px;
	height: 175px;
	display: flex;
	align-items: center;
}
.icons-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.icons-text {
	font-family: 'Aleo';
	font-style: normal;
	text-align: center;
	font-weight: 400;
	font-size: 36px;
	line-height: 26px;
	color: #E8E8E8;
}
.icons-search {
	width: 343px;
	height: 163px;
}
.icons-search__text {
	width: 244px;
	height: 26px;
	margin-top: 38px;
	margin-bottom: 10px;
}
.icons-select {
	width: 230px;
	height: 161px;
	margin-left: 155px;
	margin-right: 153px;
}
.icons-select__text {
	width: 230px;
	height: 26px;
	margin-top: 30px;
	margin-bottom: 12px;
}
.icons-book {
	width: 235px;
	height: 174px;
}
.icons-book__text {
	width: 235px;
	height: 25px;
	margin-top: 40px;
	margin-bottom: 20px;
}